.container{
  overflow-y: auto;
  max-width: 85vw;
}

.mainChart{
  width: auto;
  /*height: auto;*/
  /*border: 1px solid;*/
  /*box-shadow: 2px 2px;*/
}

.options-bar{
  display: grid;
  justify-items: end;
}

.hide{
  color: #ffeeee;
}

mat-icon:hover{
  color: black;
  cursor: pointer;
}
