<div class="tickers-list-container">
  <div class="input-date">
    <input
      class="text-align-right"
      type="date"
      [(ngModel)]="date"
      name="date"
      (change)="onInputChange()">
  </div>
  <div class="ticker-code">
    <input
      type="text"
      class="ticker-code-input"
      placeholder="TICKER CODE"
      [(ngModel)]="searchStr"
      (input)="onSearchTicker()">
  </div>
  <mat-selection-list dense [multiple]="false" class="tickers-list">
    <mat-list-option
      *ngFor="let ticker of filteredTickers"
      (click)="onSelectTicker(ticker.code, ticker.stockExchangeCode)">
      {{ticker.code}}:{{ticker.stockExchangeCode}}
    </mat-list-option>
  </mat-selection-list>
</div>
