.tickers-list-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  font-size: 22px;
  align-self: end;
  justify-self: start;
}

.ticker-code{
  display: grid;
}

.search-params{
  display: grid;
  justify-items: start;
  grid-template-columns: auto auto;
}

.input-date{
  justify-self: stretch;
  justify-items: stretch;
}

.input-number{
  justify-self: end;
}

.tickers-list{
  display: grid;
  max-height: 90vh;
}

.no-bullets{
  list-style-type: none;
}

.text-align-right{
  text-align: center;
  font-size: 22px;
}

.ticker-code-input{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

a:hover{
  cursor: pointer;
}

