<div class="center">
  <div class="row center">
    <div class="col center-text">
      <input
        type="text"
        class="center"
        (input)="onSearchTicker($event)">
    </div>
  </div>
  <hr>
  <div class="row center">
    <div class="col center">
      <div class="nav center">
        <ul>
          <li class="no-bullets center" *ngFor="let ticker of filteredTickers">
            <a
              (click)="onSelectTicker(ticker)"
            >
              {{ticker.code}}:{{ticker.stockExchangeCode}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
