<div class="tickers-list-container">
  <mat-form-field class="input-date">
    <input
      matInput [matDatepicker]="picker"
      [defaultValue]="date"
      class="text-align-right"
      (dateInput)="onDateEvent($event)"
      (dateChange)="onDateEvent($event)"
    >
    <mat-hint class="date-hint">YYYY-MM-DD</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker">
    </mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="ticker-code">
    <mat-label>SEARCH</mat-label>
    <input matInput
      type="text"
      class="ticker-code-input"
      placeholder="TICKER CODE"
      [(ngModel)]="searchStr"
      (input)="onSearchTicker()">
  </mat-form-field>
  <mat-selection-list dense [multiple]="false" class="tickers-list">
    <mat-list-option
      *ngFor="let ticker of filteredTickers"
      (click)="onSelectTicker(ticker.code, ticker.stockExchangeCode)">
      {{ticker.code}}:{{ticker.stockExchangeCode}}
    </mat-list-option>
  </mat-selection-list>
</div>
