.tickers-list-container{
  display: grid;
  grid-template-columns: auto;
  row-gap: 15px;
  font-size: 22px;
  align-self: end;
  justify-self: start;
  justify-content: stretch;
  /*background-color: white;*/
}

.ticker-code{
  display: grid;
}

.input-date{
  display: grid;
  justify-self: stretch;
}

.input-number{
  justify-self: end;
}

.tickers-list{
  display: grid;
  justify-content: center;
  max-height: 75vh;
  overflow-y: auto;
  min-width: 200px;
}

.no-bullets{
  list-style-type: none;
}

.text-align-right{
  text-align: center;
  font-size: 22px;
}

.ticker-code-input{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
}

a:hover{
  cursor: pointer;
}

