.container{
  overflow-y: auto;
  max-width: 85vw;
}

.mainChart{
  width: auto;
}

.auxChart{
  width: auto;
}

.options-bar{
  display: grid;
  justify-items: end;
}

.hide{
  color: #ffeeee;
}

mat-icon:hover{
  color: black;
  cursor: pointer;
}
