<div class="container">
  <mat-card *ngIf="candlestickChartModel && candlestickData; else noChart">
    <mat-card-actions class="options-bar">
      <div>
        <mat-icon class="hide"
          aria-hidden="false"
          aria-label="Chart settings"
          fontIcon="settings"
          (click)="onSettings()">
        </mat-icon>
        <mat-icon
          class="hide"
          aria-hidden="false"
          aria-label="Download"
          fontIcon="download"
        (click)="onDownload()">
        </mat-icon>
      </div>
    </mat-card-actions>
    <google-chart *ngIf="candlestickChartModel && candlestickData" #chart
                  class="mainChart"
                  [type]="candlestickChartModel.chartType"
                  [data]="candlestickData"
                  [options]="candlestickChartModel.options"
                  [height]="300"
    >
    </google-chart>
    <google-chart *ngIf="volumeChartModel && volumeData"
                  #chart2
                  class="auxChart"
                  [type]="volumeChartModel.chartType"
                  [data]="volumeData"
                  [options]="volumeChartModel.options"
                  [height]="200"
    >
    </google-chart>
  </mat-card>
  <br>
  <ng-template #noChart>
    <p>No data available</p>
  </ng-template>
</div>
