.container{
  overflow-y: auto;
  max-width: 85vw;
}

.customChart{
  width: auto;
  height: 280px;
}

.options-bar{
  display: grid;
  align-content: start;
  row-gap: 0.1em;
}

mat-icon:hover{
  cursor: pointer;
}

mat-card{
  display: grid;
  grid-template-columns: 23fr 1fr;
}

google-chart{
  padding: 0;
  margin: 0;
}
