.container{
  border: 1px solid;
}

.customChart{
  width: auto;
  min-height: 280px;
  border: 1px solid;
  box-shadow: 2px 2px;
}

.options-bar{
  display: grid;
  justify-items: end;
}

i:hover{
  cursor: pointer;
}
