<div *ngIf="chartModel; else noChart">
  <mat-divider></mat-divider>
  <div class="options-bar">
    <div>
      <i
        class="material-icons"
        (click)="onSettings()"
      >settings</i>
      <i class="material-icons">download</i>
    </div>
  </div>
  <google-chart #chart
                class="customChart"
                [title]=""
                [type]="chartModel.chartType"
                [data]="data"
                [options]="chartModel.options">
  </google-chart>
  <mat-divider></mat-divider>
</div>
<ng-template #noChart>
  <p>No chart available</p>
</ng-template>
