<div class="container">
  <mat-card *ngIf="chartModel; else noChart">
    <google-chart #chart
                  class="customChart"
                  [type]="chartModel.chartType"
                  [data]="data"
                  [options]="chartModel.options">
    </google-chart>
    <mat-card-actions class="options-bar">
      <mat-icon
        aria-hidden="false"
        aria-label="Chart settings"
        fontIcon="settings"
        (click)="onSettings()">
      </mat-icon>
      <mat-icon
        aria-hidden="false"
        aria-label="Download"
        fontIcon="download">
      </mat-icon>
    </mat-card-actions>
  </mat-card>
  <br>
  <ng-template #noChart>
    <p>No chart available</p>
  </ng-template>
</div>
