.data-not-found{
  display: grid;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  color: red;
  font-weight: bolder;
  font-size: 40px;
}

.candlestick{
  width: auto;
  min-height: 450px;
}
