
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /*border: 1px solid red;*/
}

app-root{
  display: grid;
  /*background-color: white;*/
  /*filter: invert();*/
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, sans-serif; }
