/* You can add global styles to this file, and also import other style files */
/*@import '~bootstrap/dist/css/bootstrap.min.css';*/
.center {
  margin: auto;
}

* {
  box-sizing: border-box;
}

[class*="col-"] {
  float: left;
  padding: 1px;
  border: 1px solid red;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
